body{
	background-color: #7D1935;
}
.titulo{
	font-size: 20px;
	color: #F5F2E7;
	text-align: center;
}

.enca{
	border: 2px solid;
	width: 500px;
	text-align: center;
	background-color: #5C527F;
}

.tabla{
	width: 500px;
	height: 50px;
	background-color: #064663;
	text-align: left;
	border: 2px solid;
}